* {
	box-sizing: border-box;
	text-align: center;
	margin-right: 40px;
	margin-left: 40px;
}

body {
	font-size: 24;
	line-height: 32px;
	color: #999;
	background-color: #888;
}

.header-container {
	background-color: white;
	margin: 10px 120px 10px 120px;
	padding-top: 20px;
	padding-bottom: 20px;

}
	
.nav-container {
	background-color: white;
	margin: 10px 120px 20px 120px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.section-container {
	background-color: white;
	box-sizing: border-box;
	padding-top: 20px;
	width: 45%;
	margin-right: 10px;
	margin-left: 120px;
	margin-bottom: 20px;
	padding-bottom: 10px;
	height: 300px;
	float: left;
}

.article-container {
	background-color: #888;
	margin: 15px 10px 10px 10px;
	height: 225px;
}

.h-container {
	background-color: white;
	height: 85px;
	margin-bottom: 5px;
	margin-right: 20px;
	margin-left: 20px;
	padding-top: 25px;
}

.p-container {
	background-color: white;
	height: 85px;
	margin-right: 20px;
	margin-bottom: 15px;
	margin-left: 20px;
	padding-top: 25px;
}

.aside-container {
	background-color: white;
	padding-top: 20px;
	width: 355px;
	height: 300px;
	margin-left: 10px;
	margin-bottom: 20px;
	float: left;
}

.footer-container {
	clear: both;
	overflow: auto;
	background-color: white;
	margin-right: 120px;
	margin-left: 120px;
	padding-bottom: 20px;
	padding-top: 20px;
}









